<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="main.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <title>Vue.js</title>
</head>

<body>
    <div id="app">
        <nav-bar :seen-dictionary="seenDictionary" :seen-quiz="seenQuiz" :seen-score="seenScore" @click-nav="navMenu"></nav-bar>

        <div id="quiz" v-if="seenQuiz" :style="seenQuiz ? 'display:block' : 'display:none'">
            <p v-if="seenQuizTitle">Quiz</p>
            <div id="group-container">
                <div v-if="seenQuizGroups" class="groups" v-for="i in uniqueValues" :data-group="i" @click="quiz(i)" :style="{'background-color': uniqueGroupsCount[i] >= 4 ? 'green' : 'red'}">{{i}}</div>
            </div>

            <template v-if="seenQuizProblem">
                <div id="container">
                    <progress :value="answers" max="10"> {{ answers }}% </progress>
                    <div class="problem">{{ problem }}</div>
                    <div id="containerAns">
                        <div id="box_1" :class="randomLanguage == 0 ? 'boxAns' : 'boxAnsChar'" @click="check(correctNum(nAns, 1))">{{diffNumbers(nAns, 1)}}</div>
                        <div id="box_2" :class="randomLanguage == 0 ? 'boxAns' : 'boxAnsChar'" @click="check(correctNum(nAns, 2))">{{diffNumbers(nAns, 2)}}</div>
                        <div id="box_3" :class="randomLanguage == 0 ? 'boxAns' : 'boxAnsChar'" @click="check(correctNum(nAns, 3))">{{diffNumbers(nAns, 3)}}</div>
                        <div id="box_4" :class="randomLanguage == 0 ? 'boxAns' : 'boxAnsChar'" @click="check(correctNum(nAns, 4))">{{diffNumbers(nAns, 4)}}</div>
                    </div>
                </div>
            </template>
        </div>

        <div id="score" v-if="seenScore" :style="seenScore ? 'display:block' : 'display:none'">
            <p>Score</p>
        </div>

        <div id="dictionary" v-if="seenDictionary" :style="seenDictionary ? 'display:block' : 'display:none'">

            <update-form :character="characterUpdate" :english="englishUpdate" :group="groupUpdate" :seen-table="seenTable" @click-u="updateButton" @click-ue="updateExit" ref="upd"></update-form>

            <add-form :character="characterAdd" :english="englishAdd" :group="groupAdd" :seen-add="seenAdd" @click-a="addRow" @click-ae="addExit" ref="add"></add-form>

            <div id="search_field_container">
                <div id="search_field">
                    <select v-model="searchSelect">
                        <option>English</option>
                        <option>Character</option>
                        <option>Group</option>
                    </select>
                    <input type="text" id="search" v-model="search" placeholder="🔍 Search...">
                </div>
            </div>


            <table id="table">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Character</th>
                        <th>English</th>
                        <th>Group</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    <tr v-for="i in filteredCharacters">
                        <td>{{ i.id }}</td>
                        <td>{{ i.character }}</td>
                        <td>{{ i.english }}</td>
                        <td>{{ i.group }}</td>
                        <td>
                            <button type="button" :id=`update_${i.id}` class="update" @click="updateRow(i.id)" ref="update">Update {{i.id}}</button>
                        </td>
                        <td>
                            <button type="button" :id=`delete_${i.id}` class="delete" @click="deleteRow(i.id)">Delete {{i.id}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <add-svg @click.native="addData"></add-svg>
        </div>
    </div>

    <script language="javascript" type="text/javascript" src="chinese.js"></script>
    <script language="javascript" type="text/javascript" src="components.js"></script>
    <script type="text/javascript">
        //        Vue.component('add-svg', {
        //            template: ``
        //        });

        var app = new Vue({
            el: '#app',
            data: {
                characters: charactersData,
                characterAdd: '',
                englishAdd: '',
                groupAdd: '',
                characterUpdate: '',
                englishUpdate: '',
                groupUpdate: '',
                seenDictionary: true,
                seenQuiz: false,
                seenScore: false,
                seenTable: false,
                seenAdd: false,
                n: 1,
                updateId: 0,
                search: '',
                searchSelect: 'English',
                stopAdd_character: false,
                stopAdd_english: false,
                stopAdd_group: false,
                stopAdd_both: false,
                uniqueGroups: [],
                seenQuizTitle: true,
                seenQuizGroups: true,
                seenQuizProblem: false,
                nAns: 0,
                answers: 0,
            },
            methods: {
                addData() {
                    this.seenAdd = true;
                    this.seenTable = false;
                },
                addExit() {
                    this.seenAdd = false;
                },
                addRow(event) {
                    this.stopAdd_character = false;
                    this.stopAdd_english = false;
                    this.stopAdd_group = false;
                    this.stopAdd_both = false;

                    this.englishAdd = this.$refs.add.$refs.english.value;
                    this.characterAdd = this.$refs.add.$refs.character.value;
                    this.groupAdd = this.$refs.add.$refs.group.value;

                    for (let i = 0; i < this.characters.length; i++) {
                        if (this.characterAdd == '') {
                            this.stopAdd_character = true;
                            this.$refs.add.$refs.character.style.border = '1px solid red';
                        }

                        if (this.englishAdd == '') {
                            this.stopAdd_english = true;
                            this.$refs.add.$refs.english.style.border = '1px solid red';
                        }

                        if (this.englishAdd == this.characters[i].english && this.characterAdd == this.characters[i].character) {
                            this.stopAdd_both = true;
                            this.$refs.add.$refs.english.style.border = '1px solid red';
                            this.$refs.add.$refs.character.style.border = '1px solid red';
                        }

                        if (this.groupAdd == '') {
                            this.stopAdd_group = true;
                            this.$refs.add.$refs.group.style.border = '1px solid red';
                        }
                    }


                    if (!this.stopAdd_character && !this.stopAdd_both) this.$refs.add.$refs.character.style.border = '1px solid #A9A9A9';
                    if (!this.stopAdd_english && !this.stopAdd_both) this.$refs.add.$refs.english.style.border = '1px solid #A9A9A9';
                    if (!this.stopAdd_group) this.$refs.add.$refs.group.style.border = '1px solid #A9A9A9';

                    if (!this.stopAdd_character && !this.stopAdd_english && !this.stopAdd_group && !this.stopAdd_both) {
                        if (this.characters.length > 0) {
                            this.n = this.characters[this.characters.length - 1].id + 1;
                        }

                        this.characters.push({
                            id: this.n,
                            character: this.characterAdd,
                            english: this.englishAdd,
                            group: this.groupAdd
                        });

                        this.characterAdd = '';
                        this.englishAdd = '';
                        this.groupAdd = '';

                        this.seenAdd = false;
                    }
                },
                deleteRow(id) {
                    this.characters.splice(this.characters.findIndex(obj => obj.id == id), 1);
                },
                updateRow(id) {
                    this.seenTable = true;
                    this.seenAdd = false;
                    this.updateId = id;

                    this.$nextTick(function() {
                        this.$refs.upd.$refs.update_form.style.display = 'block';
                        if (this.search != '') {
                            this.$refs.upd.$refs.update_form.style.marginTop = event.target.getBoundingClientRect().top + window.scrollY + 'px';
                        } else {
                            this.$refs.upd.$refs.update_form.style.marginTop = this.$refs.update[id - 1].getBoundingClientRect().top + window.scrollY + 'px';
                        }
                    });

                    this.characterUpdate = this.characters[id - 1].character;
                    this.englishUpdate = this.characters[id - 1].english;
                    this.groupUpdate = this.characters[id - 1].group;
                },
                updateButton() {
                    this.seenTable = false;

                    this.characterUpdate = this.$refs.upd.$refs.character.value;
                    this.englishUpdate = this.$refs.upd.$refs.english.value;
                    this.groupUpdate = this.$refs.upd.$refs.group.value;

                    this.characters[this.updateId - 1].character = this.characterUpdate;
                    this.characters[this.updateId - 1].english = this.englishUpdate;
                    this.characters[this.updateId - 1].group = this.groupUpdate;
                },
                updateExit() {
                    this.seenTable = false;
                },
                navMenu(id) {
                    this.seenDictionary = false;
                    this.seenQuiz = false;
                    this.seenScore = false;

                    this.seenTable = false;
                    this.seenAdd = false;

                    if (id == 'dictionary') {
                        this.seenDictionary = true;
                    } else if (id == 'quiz') {
                        this.seenQuiz = true;
                    } else if (id == 'score') {
                        this.seenScore = true;
                    }
                },
                quiz(id) {
                    console.log('group: ' + id)

                    this.problemArray = this.characters.filter(function(obj) {
                        return obj.group === id;
                    });

                    this.generateCorrect(this.problemArray);

                    this.seenQuizTitle = false;
                    this.seenQuizGroups = false;
                },
                generateCorrect(problemArray) {
                    this.randomLanguage = this.random(0, 2);
                    this.randomAns = this.random(0, problemArray.length);
                    this.array = [];
                    for (let i = 0; i < problemArray.length; i++) {
                        if (this.randomLanguage == 0) {
                            this.array.push(problemArray[i].english)
                        } else {
                            this.array.push(problemArray[i].character)
                        }
                    }

                    if (this.randomLanguage == 0) {
                        this.problem = problemArray[this.randomAns].character;
                        this.answare = problemArray[this.randomAns].english;
                    } else {
                        this.problem = problemArray[this.randomAns].english;
                        this.answare = problemArray[this.randomAns].character;
                    }

                    console.log(this.problem)
                    console.log(this.answare)

                    this.array.splice(this.array.indexOf(this.answare), 1);

                    this.nAns = this.random(1, 5);
                    this.seenQuizProblem = true;
                },
                correctNum(n, v) {
                    if (v == n) {
                        return true;
                    } else {
                        return false;
                    }
                },
                diffNumbers(n, v) {
                    if (v == n) {
                        return this.answare;
                    } else {
                        this.wrongN = this.random(0, this.array.length);
                        this.wrong = this.array[this.wrongN];
                        this.array.splice(this.wrongN, 1);

                        return this.wrong;
                    }
                },
                check(text) {
                    console.log(text)
                    let target = event.target;

                    if (text) {
                        target.style.backgroundColor = 'green';

                        setTimeout(() => {
                            this.seenQuizProblem = false;
                            target.style.backgroundColor = '#005EAD';

                            this.generateCorrect(this.problemArray);
                            this.answers++;

                            if (this.answers >= 10) {
                                this.seenQuizTitle = true;
                                this.seenQuizGroups = true;

                                this.seenQuizProblem = false;
                                this.answers = 0;
                            }
                        }, 1000);
                    } else {
                        target.style.backgroundColor = 'red';

                        setTimeout(() => {
                            target.style.backgroundColor = '#005EAD';
                        }, 1000);
                    }
                },
                random(min, max) {
                    var range = max - min;
                    if (range <= 0) {
                        throw new Exception('max must be larger than min');
                    }
                    var requestBytes = Math.ceil(Math.log2(range) / 8);
                    if (!requestBytes) {
                        return min;
                    }
                    var maxNum = Math.pow(256, requestBytes);
                    var ar = new Uint8Array(requestBytes);

                    while (true) {
                        window.crypto.getRandomValues(ar);

                        var val = 0;
                        for (var i = 0; i < requestBytes; i++) {
                            val = (val << 8) + ar[i];
                        }

                        if (val < maxNum - maxNum % range) {
                            return min + (val % range);
                        }
                    }
                }
            },
            computed: {
                filteredCharacters() {
                    if (this.search) {
                        this.seenTable = false;
                        this.seenAdd = false;

                        return this.characters.filter((item) => {
                            if (this.searchSelect == 'Group') {
                                return item.group.toLowerCase().includes(this.search.toLowerCase());
                            } else if (this.searchSelect == 'Character') {
                                return item.character.toLowerCase().includes(this.search.toLowerCase());
                            } else {
                                return item.english.toLowerCase().includes(this.search.toLowerCase());
                            }

                        });
                    } else {
                        return this.characters;
                    }
                },
                uniqueValues() {
                    this.uniqueGroups = this.characters.map(item => item.group).filter((value, index, self) => {
                        return self.indexOf(value) === index
                    });

                    this.uniqueGroupsCount = this.characters.reduce((acc, item) => (acc[item.group] = (acc[item.group] || 0) + 1, acc), {});

                    return this.uniqueGroups;
                }
            }
        });

    </script>
</body>

</html>
