*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0 !important;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2%;

}

#table td,
#table th {
    border: 1px solid #ddd;
    padding: 0.4%;
    width: 10%;
    text-align: center;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #d9eeda;
}

#table th {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.update {
    background-color: gold;
    padding: 0.5vh;
    width: 10vw;
    border-radius: 1vh;
    border: 0px solid white;
    text-decoration: none;
}

.delete {
    background-color: red;
    color: white;
    padding: 0.5vh;
    width: 10vw;
    border-radius: 1vh;
    border: 0px solid white;
    text-decoration: none;
}

#add_icon_button {
    position: fixed;
    width: 5vw;
    height: 5vw;
    bottom: 1vw;
    right: 1vw;
}

#add_form {
    padding: 1.5vh;
    border: 1px solid #000;
    width: 20vw;
    position: fixed;
    background-color: beige;
    z-index: 1000;
    display: none;
    border-radius: 1vw;
    bottom: 1vw;
    right: 6vw;
}

#add_button {
    background-color: darkgreen;
    color: white;
    padding: 0.5vh;
    width: 100%;
    border-radius: 1vh;
    border: 0px solid white;
    text-decoration: none;
}

#update_form {
    margin: 0 76vw;
    padding: 1.5vh;
    border: 1px solid #000;
    width: 15vw;
    position: absolute;
    background-color: beige;
    z-index: 1000;
    display: none;
    border-radius: 1vw;
    top: 0;
}

#update_button {
    background-color: midnightblue;
    color: white;
    padding: 0.5vh;
    width: 100%;
    border-radius: 1vh;
    border: 0px solid white;
    text-decoration: none;
}

#update_exit {
    position: absolute;
    cursor: pointer;
    height: 2vw;
    width: 2vw;
    right: -1vw;
    top: -1vw;
}

#update_exit > circle {
    fill: grey;
}

#update_exit > path {
    stroke: white;
}

#update_exit:hover > circle {
    stroke: black;
    stroke-width: 0.9;
    fill: red;
}

#update_exit:hover > path {
    stroke: white;
}

.input {
    width: 100%;
    margin-bottom: 0.9vh;
}

#search_field {
    width: 30vw;
    margin: 1vw auto;
}

#search_field select {
    border: solid 1px black;
    border-radius: 1vw 0vw 0vw 1vw;
    height: 5vh;
    width: 30%;
    margin: 0;
    padding-left: 0.5vw;
}

#search_field input {
    border: solid 1px black;
    border-radius: 0vw 1vw 1vw 0vw;
    height: 5vh;
    width: 70%;
    padding-left: 1vw;
    margin-left: -0.6vw;
}

#navigation {
    background-color: #333;
    overflow: hidden;
}

#navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navigation a:hover {
    background-color: #ddd;
    color: black;
}

#navigation a.active {
    background-color: #4CAF50;
    color: white;
}

#quiz {
    display: none;
    text-align: center;
}

#dictionary {
    display: none;
}

#score {
    display: none;
}

#group-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-evenly;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2vw;
    padding: 1.5vw;
}

.groups {
    width: 100%;
    height: 20vh;
    border-radius: 50%;
    padding: 0.5vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    display: grid;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 2em;
}

#container {
    width: 100vw;
    height: 30vw;
    margin: 4vh auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.problem {
    font-size: 10vw;
    /*    background-color: aliceblue;*/
    margin-bottom: 15vh;
}

#containerAns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*    background-color: antiquewhite;*/
}

.boxAns {
    width: auto;
    background-color: #cce6ff;
    float: left;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: -10vh;
    line-height: 6.4vw;
    text-align: center;
    font-size: 3vw;
    font-family: sans-serif;
    border-radius: 1vw;
    padding: 0 1vw;
    border: 0.1vw solid black;
}

.boxAnsChar {
    width: auto;
    background-color: #cce6ff;
    float: left;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: -10vh;
    font-size: 7vw;
    border-radius: 1vw;
    padding: 0 1vw;
    border: 0.1vw solid black;
}

progress[value] {
    width: 90vw;
    height: 5vh;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 5vh;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 5vh, 100% 100%, 100% 100%;
}

#graphics-container{
    width:100%;
    height: 20vh;
    background-color: beige;
}
