<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue.js</title>
    <style type="text/css">
        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }

        html {
            height: 100%;
            width: 100%;
        }

        body {
            margin: 0px;
            padding: 0px;
            outline: 0 !important;
        }

    </style>
</head>

<body>
    <div id="app">
        <p>${ message }</p>
        <div v-html="htmlcontent"></div>
        <img v-bind:src="url" width="100" />
    </div>

    <div id="app-2">
        <span v-bind:title="message">Hover your mouse over me for a few seconds to see my dynamically bound title.</span>
        <p style="color:darkgoldenrod;">computed property: {{getrandomno}} - {{getrandomno}} - {{getrandomno}}</p>
        <p style="color:darkblue;">method: {{getrandomno1()}} - {{getrandomno1()}} - {{getrandomno1()}}</p>
    </div>

    <div id="app-3">
        <span v-bind:style="styleobj" v-if="seen">Now you see me</span>
        <div id="computed_props">
            Kilometers : <input type="text" v-model="kilometers">
            Meters : <input type="text" v-model="meters">
        </div>
        <input type="checkbox" id="checkbox" v-model="checked"> {{checked}}<br>

        <input type="radio" id="black" value="Black" v-model="picked">Black
        <input type="radio" id="white" value="White" v-model="picked">White {{picked}}<br>

        <select v-model="languages">
            <option disabled value="">Please select one</option>
            <option>Java</option>
            <option>Javascript</option>
            <option>Php</option>
            <option>C</option>
            <option>C++</option>
        </select>{{ languages }}<br>

        <input v-model.number="age" type="number">{{age}}<br>
        <input v-model.lazy="msg"> {{msg}}<br>
        <input v-model.trim="message"> {{message}}<br>

        <div v-bind:style="styleobj2" v-on:mouseover="changebgcolor" v-on:mouseout="originalcolor"></div>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="i in todos">{{ i.text }}</li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
        <testcomponent></testcomponent>
    </div>

    <div id="app-7">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>

    <button onclick="change()">Change</button>

    <script type="text/javascript">
        var app = new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            data: {
                message: 'Hello Vue.js!',
                htmlcontent: "<h3>Vue Js Template</h3>",
                url: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Wilkin_River%2C_Otago%2C_New_Zealand_06.jpg/405px-Wilkin_River%2C_Otago%2C_New_Zealand_06.jpg",
            }
            //delimiters: ['<%','%>']
            //data: {
            //myList: {{ my_list|tojson }}
            //}
        });

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'You loaded this page on ' + new Date().toLocaleString()
            },
            methods: {
                getrandomno1: function() {
                    return Math.random();
                }
            },
            computed: {
                getrandomno: function() {
                    return Math.random();
                }
            }
        });

        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true,
                checked: false,
                picked: 'White',
                languages: "Java",
                age: 0,
                msg: '',
                message: '',
                styleobj: {
                    color: 'red',
                },
                styleobj2: {
                    width: "50px",
                    height: "50px",
                    backgroundColor: "red"
                },
                kilometers: 0,
                meters: 0
            },
            methods: {
                changebgcolor: function() {
                    this.styleobj2.backgroundColor = "green";
                },
                originalcolor: function() {
                    this.styleobj2.backgroundColor = "red";
                }
            },
            watch: {
                kilometers: function(val) {
                    this.kilometers = val;
                    this.meters = val * 1000;
                },
                meters: function(val) {
                    this.kilometers = val / 1000;
                    this.meters = val;
                }
            }
        });

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [{
                        text: 'Learn JavaScript'
                    },
                    {
                        text: 'Learn Vue'
                    },
                    {
                        text: 'Build something awesome'
                    }
                ]
            }
        });

        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        });

        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue!'
            },
            components: {
                'testcomponent': {
                    template: '<div><h3>This is coming from component</h3></div>'
                }
            }
        });

        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        });

        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [{
                        id: 0,
                        text: 'Vegetables'
                    },
                    {
                        id: 1,
                        text: 'Cheese'
                    },
                    {
                        id: 2,
                        text: 'Whatever else humans are supposed to eat'
                    }
                ]
            }
        });

        function change() {
            app.message = 'Hello World!';
            app2.message = 'some new message';
            app3.seen = false;
            app4.todos.push({
                text: 'New item'
            });
        }

    </script>
</body>

</html>
